#######################
# Generated artifacts #
#######################
moran.chars.dict.yaml
opencc/*.ocd2
lua/zrmdb.txt
dist/
dazhu*.txt

##############
# Rime stuff #
##############
sync/
*.txt
!moran_custom_phrases.txt
*.userdb/
*.custom.yaml
installation.yaml
user.yaml

###############
# Development #
###############
.venv/

###########
# Garbage #
###########
**/.DS_Store
build/
trash/
